<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aesthetic Section</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div class="container mx-auto p-8 overflow-x-hidden">
    <h2 class="text-5xl md:text-7xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-blue-400 via-red-500 to-teal-500 hover:from-teal-500 hover:via-red-500 hover:to-blue-400 pb-4 hover:animate-pulse">
      My Achievements in Software Development
    </h2>
    <div class="flex flex-wrap items-center pt-3">
      <div class="w-full md:w-1/2 mb-8 md:mb-0">
        <img src="../assets/achievement/target-8510084_1280.jpg" alt="Achievements Image" class="rounded-lg shadow-lg">
      </div>
      <div class="w-full md:w-1/2 md:pl-8">

        <ul class="text-lg leading-relaxed text-indigo-800 space-y-6">
          <li class="mb-4 flex items-start even:ml-4" data-aos="zoom-in-right"
            data-aos-duration="800"
            data-aos-easing="ease-in" >
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mr-2 flex-shrink-0 text-indigo-500" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
              <path d="M12 5l7 7-7 7"></path>
            </svg>

            <span class="text-xl text-indigo-800"><strong>Runners-Up</strong> in BUET DevSprint 2024 DevOps Hackathon</span>
          </li>
          <li class="mb-4 flex items-start even:ml-4" data-aos="zoom-in-right"
            data-aos-duration="800"
            data-aos-easing="ease-in" >
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mr-2 flex-shrink-0 text-indigo-500" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
              <path d="M12 5l7 7-7 7"></path>
            </svg>

            <span class="text-xl text-indigo-800"><strong>Third place</strong> in BUET CSE Fest 2023 DevOps Hackathon</span>
          </li>
          <li class="mb-4 flex items-start even:ml-4" data-aos="zoom-in-right"
            data-aos-duration="800"
            data-aos-easing="ease-in" >
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mr-2 flex-shrink-0 text-indigo-500" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
              <path d="M12 5l7 7-7 7"></path>
            </svg>

            <span class="text-xl text-indigo-800"><strong>Runners-Up</strong> in AUST MindSparks 23 Project Showcasing</span>
          </li>
          <li class="mb-4 flex items-start even:ml-4" data-aos="zoom-in-right"
            data-aos-duration="800"
            data-aos-easing="ease-in" >
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mr-2 flex-shrink-0 text-indigo-500" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
              <path d="M12 5l7 7-7 7"></path>
            </svg>

            <span class="text-xl text-indigo-800"><strong>Top 11</strong> in DU ITverse DevOps Hackathon</span>
          </li>
          <li class="mb-4 flex items-start even:ml-4" data-aos="zoom-in-right"
            data-aos-duration="800"
            data-aos-easing="ease-in" >
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mr-2 flex-shrink-0 text-indigo-500" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
              <path d="M12 5l7 7-7 7"></path>
            </svg>

            <span class="text-xl text-indigo-800"><strong>Top 16</strong> in ITVerse Code Refactoring Challenge</span>
          </li>

          <li class="mb-4 flex items-start even:ml-4" data-aos="zoom-in-right"
            data-aos-duration="800"
            data-aos-easing="ease-in" >
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mr-2 flex-shrink-0 text-indigo-500" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
              <path d="M12 5l7 7-7 7"></path>
            </svg>

            <span class="text-xl text-indigo-800"><strong>Runners-Up</strong> in AUST MindSparks 23 Project Showcasing</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>

</html>