<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aesthetic Section</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div class="container mx-auto p-8 overflow-x-hidden">
    <h2
    class="text-5xl md:text-7xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-blue-400 via-red-500 to-teal-500 hover:from-teal-500 hover:via-red-500 hover:to-blue-400 pb-4 hover:animate-bounce" >My Achievements in Software Development</h2>
    <div class="flex flex-wrap items-center">
      <div class="w-full md:w-1/2 mb-8 md:mb-0">
        <img src="../assets/achievement/target-8510084_1280.jpg" alt="Achievements Image" class="rounded-lg shadow-lg">
      </div>
      <div class="w-full md:w-1/2 md:pl-8">
        
        <ul class="text-lg leading-relaxed text-gray-800 space-y-6">
          <li class="mb-4">
            <strong class="text-xl  text-indigo-800"  data-aos="zoom-in-up"
            data-aos-duration="800"
            data-aos-easing="ease-in">Runners-Up in BUET DevSprint 2024 DevOps Hackathon</strong>
            <p class="mt-2"  data-aos="zoom-in-left"
            data-aos-duration="800"
            data-aos-easing="ease-in" data-aos-mirror="false">
              Achieved top 11 ranking in a competitive hackathon by leading end-to-end development of "ProjectHub" within a 10-day sprint, ultimately securing runners-up position following the presentation of our solution.
            </p>
          </li>
          <li class="mb-4">
            <strong class="text-xl  text-indigo-800"  data-aos="zoom-in-up"
            data-aos-duration="800"
            data-aos-easing="ease-in" >Third place in BUET CSE Fest 2023 DevOps Hackathon</strong>
            <p class="mt-2"  data-aos="zoom-in-left"
            data-aos-duration="800"
            data-aos-easing="ease-in" data-aos-mirror="false">
              Secured a top 13 ranking in the DevOps category during the online round finishing end-to-end development of "VaccineBD" within a challenging 24-hour timeframe, earning a commendable third place position following the presentation of our solution.
            </p>
          </li>
          <li class="mb-4">
            <strong class="text-xl  text-indigo-800"  data-aos="zoom-in-up"
            data-aos-duration="800"
            data-aos-easing="ease-in" >Runners-Up in AUST MindSparks 23 Project Showcasing</strong>
            <p class="mt-2"  data-aos="zoom-in-left"
            data-aos-duration="800"
            data-aos-easing="ease-in" data-aos-mirror="false">
              Following selection among 25 teams for the offline round, our team secured second place with the presentation of our project, Innuo.
            </p>
          </li>
          <li class="mb-4">
            <strong class="text-xl  text-indigo-800"  data-aos="zoom-in-up"
            data-aos-duration="800"
            data-aos-easing="ease-in" >Top 11 in DU ITverse DevOps Hackathon</strong>
            <p class="mt-2"  data-aos="zoom-in-left"
            data-aos-duration="800"
            data-aos-easing="ease-in" data-aos-mirror="false">
              Following our success in the preliminary round, we ranked in the top 11 and progressed to the subsequent round.
            </p>
          </li>
          <li class="mb-4">
            <strong class="text-xl  text-indigo-800"  data-aos="zoom-in-up"
            data-aos-duration="800"
            data-aos-easing="ease-in" >Top 16 in ITVerse Code Refactoring Challenge</strong>
            <p class="mt-2"  data-aos="zoom-in-left"
            data-aos-duration="800"
            data-aos-easing="ease-in" data-aos-mirror="false">
              My team secured a commendable top 16 position in the ITVerse Code Refactoring Challenge, after successful qualification in the preliminary round.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>

</html>
