<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div class="min-h-screen py-10 px-8 sm:py-16 sm:px-24 flex items-center justify-center bg-opacity-25" style="background: url('../assets/home/coding.jpg') no-repeat center center; background-size: cover;">
    <div class="mx-auto w-full h-full bg-white p-8 rounded-lg shadow-lg text-center opacity-100">
      <p class="text-lg font-medium text-teal-600">Who Am I?</p>
      <h1 class="mt-3 text-4xl font-bold tracking-tight text-teal-900">Nafisa Maliyat</h1>
      <div class="mt-3 text-lg text-gray-600">
        Hello! I'm Nafisa, a passionate web developer with a keen interest in machine learning. I enjoy creating intuitive web experiences and exploring the exciting world of machine learning to develop intelligent, data-driven applications that can make a difference.
      </div>
      <div class="mt-6">
        <p class="text-3xl bg-clip-text text-transparent bg-gradient-to-r from-yellow-400 via-red-600 to-pink-600 hover:from-pink-600 hover:via-red-600 hover:to-yellow-400">
          <span class="hover:text-yellow-400 hover:font-bold transition duration-600 ease-in-out">Frontend Developer.</span>
          <span class="hover:text-red-600 hover:font-bold transition duration-600 ease-in-out">Backend Developer.</span>
          <span class="hover:text-pink-600 hover:font-bold transition duration-600 ease-in-out">ML Enthusiast.</span>        
        </p>
      </div>
      <div class="mt-6 flex items-center justify-center gap-4">
        <a href="https://res.cloudinary.com/dge94e3ib/image/upload/v1717237683/Portfolio-Project/exszdeowtn0vsuufi07n.pdf" class="transform rounded-md bg-teal-600 px-5 py-3 font-medium text-white transition-transform hover:scale-105 hover:bg-teal-700 motion-safe:animate-bounce">Grab My Resume</a>
        
      </div>
      <div class="max-w-xs border-b-2 border-gray-200 mx-auto my-2"></div>
      <span class="text-gray-600">Connect with me</span>
      <div class="flex justify-center mt-4 space-x-6">
        <a href="https://www.linkedin.com/in/nafisa-maliyat133/" class="text-indigo-400 hover:text-indigo-600">
            <span class="sr-only">LinkedIn</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M20.447 3H3.553C2.696 3 2 3.696 2 4.553v14.894C2 20.304 2.696 21 3.553 21h16.894c.857 0 1.553-.696 1.553-1.553V4.553C22 3.696 21.304 3 20.447 3zM8.337 19H5.477V8.544h2.86V19zM6.907 7.184c-.912 0-1.652-.74-1.652-1.652s.74-1.652 1.652-1.652c.912 0 1.652.74 1.652 1.652S7.819 7.184 6.907 7.184zM18.937 19h-2.86v-5.674c0-1.35-.027-3.08-1.878-3.08-1.878 0-2.168 1.466-2.168 2.975V19h-2.86V8.544h2.747v1.427h.038c.384-.728 1.322-1.494 2.724-1.494 2.912 0 3.448 1.918 3.448 4.412V19z" clip-rule="evenodd"></path>
            </svg>
        </a>
        <a href="mailto:nafisamaliyat462@gmail.com" class="text-red-400 hover:text-red-500">
            <span class="sr-only">Gmail</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M12 12.713L0 4.5V20a1 1 0 001 1h22a1 1 0 001-1V4.5l-12 8.213zm0-1.53L22 3H2l10 8.183zM0 3.172L10 11 0 4.5V3.172zm24 0V4.5L14 11l10-7.828V3.172z" clip-rule="evenodd"></path>
            </svg>
        </a>
        <a href="https://github.com/NafisaMaliyat-iut" class="text-gray-400 hover:text-gray-700">
            <span class="sr-only">GitHub</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd"></path>
            </svg>
        </a>
    </div>
    </div>
  </div>
</body>

</html>