<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  
  <div class="p-4 overflow-x-hidden bg-gray-50">
    <header class="bg-transparent">
      <h1 class="text-5xl md:text-7xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-yellow-400 via-red-500 to-pink-500 hover:from-pink-500 hover:to-yellow-400 p-8 motion-safe:animate-pulse">Some of my projects over the years!</h1>
    </header>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-3 min-h-screen mt-4 ">

      <a href="https://github.com/Xer0Bytes/Innuo" class="md:p-8 p-6 bg-gradient-to-r from-yellow-100 via-red-100 to-pink-100  hover:from-pink-100 hover:to-yellow-100 border rounded-lg shadow hover:shadow-xl transition-shadow duration-300" data-aos="zoom-out-down" data-aos-duration="800" data-aos-easing="ease-in-out" >
        <div class="h-60 overflow-hidden flex items-center justify-center">
          <img class="rounded-lg w-full h-full object-contain" src="/assets/projects/innuo.png" />
        </div>
        <p class="text-teal-600 font-semibold text-base mt-2">MERN | Tailwind CSS </p>
        <h1 class="font-bold text-teal-900 leading-none text-xl py-1 capitalize truncate">Innuo</h1>
        <div class="max-w-full">
          <p class="text-base font-medium tracking-wide text-gray-600 mt-1">
            A free sign language learning website aimed at making the journey to mastering sign language fun and easy, while providing extensive array of resources.
          </p>
        </div>
      </a>
  
      <a href="https://github.com/iut-swe-20-dp-1/website-burnout-sentinel" class="md:p-8 p-6 bg-gradient-to-r from-yellow-100 via-red-100 to-pink-100  hover:from-pink-100 hover:to-yellow-100 border rounded-lg shadow hover:shadow-xl transition-shadow duration-300" data-aos="zoom-out-down" data-aos-duration="800" data-aos-easing="ease-in-out">
        <div class="h-60 overflow-hidden flex items-center justify-center">
          <img class="rounded-lg w-full h-full object-contain" src="/assets/projects/burnout-sentinels.png" />
        </div>
        <p class="text-teal-600 font-semibold text-base mt-2">MERN | Tailwind CSS | FastAPI</p>
        <h1 class="font-bold text-teal-900 leading-none text-xl py-1 capitalize truncate">Burnout Sentinels</h1>
        <div class="max-w-full">
          <p class="text-base font-medium tracking-wide text-gray-600 mt-1">
            A stress detection and tracking website that generates a stress score predicted by a machine learning model trained on data collected from IUT students.
          </p>
        </div>
      </a>
  
      <a href="https://github.com/Xer0Bytes/Project-Tento" class="md:p-8 p-6 bg-gradient-to-r from-yellow-100 via-red-100 to-pink-100  hover:from-pink-100 hover:to-yellow-100 border rounded-lg shadow hover:shadow-xl transition-shadow duration-300" data-aos="zoom-out-down" data-aos-duration="800" data-aos-easing="ease-in-out">
        <div class="h-60 overflow-hidden flex items-center justify-center">
          <img class="rounded-lg w-full h-full object-contain" src="/assets/projects/project-tento.png" />
        </div>
        <p class="text-teal-600 font-semibold text-base mt-2">HTML | CSS | JS | PHP | MySQL</p>
        <h1 class="font-bold text-teal-900 leading-none text-xl py-1 capitalize truncate">Project Tento</h1>
        <div class="max-w-full">
          <p class="text-base font-medium tracking-wide text-gray-600 mt-1">
            A dynamic multiple choice quiz website designed to help O & A Level Students improve their exam preparation through practice, evaluation, and extensive solutions.
          </p>
        </div>
      </a>
  
      <a href="https://github.com/NafisaMaliyat-iut/TevyatBloggers" class="md:p-8 p-6 bg-gradient-to-r from-yellow-100 via-red-100 to-pink-100  hover:from-pink-100 hover:to-yellow-100 border rounded-lg shadow hover:shadow-xl transition-shadow duration-300" data-aos="zoom-out-down" data-aos-duration="800" data-aos-easing="ease-in-out">
        <div class="h-60 overflow-hidden flex items-center justify-center">
          <img class="rounded-lg w-full h-full object-contain" src="/assets/projects/tevyat-bloggers.png" />
        </div>
        <p class="text-teal-600 font-semibold text-base mt-2">Express.js | EJS | MongoDB</p>
        <h1 class="font-bold text-teal-900 leading-none text-xl py-1 capitalize truncate">Tevyat Bloggers</h1>
        <div class="max-w-full">
          <p class="text-base font-medium tracking-wide text-gray-600 mt-1">
            A blogging website for Genshin Players to connect with each other using immersive posts with thumbnail, images, and videos to vividly recount their experiences.
          </p>
        </div>
      </a>
  
      <a href="https://github.com/NafisaMaliyat-iut/vaccine-app-client" class="md:p-8 p-6 bg-gradient-to-r from-yellow-100 via-red-100 to-pink-100  hover:from-pink-100 hover:to-yellow-100 border rounded-lg shadow hover:shadow-xl transition-shadow duration-300" data-aos="zoom-out-down" data-aos-duration="800" data-aos-easing="ease-in-out">
        <div class="h-60 overflow-hidden flex items-center justify-center">
          <img class="rounded-lg w-full h-full object-contain" src="/assets/projects/vaccinebd.png" />
        </div>
        <p class="text-teal-600 font-semibold text-base mt-2">MERN</p>
        <h1 class="font-bold text-teal-900 leading-none text-xl py-1 capitalize truncate">VaccineBD</h1>
        <div class="max-w-full">
          <p class="text-base font-medium tracking-wide text-gray-600 mt-1">
            A website designed exclusively for Bangladeshi citizens aimed at streamlining the vaccination process from registration to history tracking.
          </p>
        </div>
      </a>
  
      <a href="https://github.com/orgs/DevSprintNaN/repositories" class="md:p-8 p-6 bg-gradient-to-r from-yellow-100 via-red-100 to-pink-100  hover:from-pink-100 hover:to-yellow-100 border rounded-lg shadow hover:shadow-xl transition-shadow duration-300" data-aos="zoom-out-down" data-aos-duration="800" data-aos-easing="ease-in-out">
        <div class="h-60 overflow-hidden flex items-center justify-center">
          <img class="rounded-lg w-full h-full object-contain" src="/assets/projects/projecthub.png" />
        </div>
        <p class="text-teal-600 font-semibold text-base mt-2">MERN | Redis | Socket.io</p>
        <h1 class="font-bold text-teal-900 leading-none text-xl py-1 capitalize truncate">ProjectHub</h1>
        <div class="max-w-full">
          <p class="text-base font-medium tracking-wide text-gray-600 mt-1">
            An open-source project hub, serving as a platform for collaboration on diverse open-source projects spanning fields such as engineering, design, education, and arts.
          </p>
        </div>
      </a>
  
      <a href="https://github.com/NafisaMaliyat-iut/TaxWizard" class="md:p-8 p-6 bg-gradient-to-r from-yellow-100 via-red-100 to-pink-100  hover:from-pink-100 hover:to-yellow-100 border rounded-lg shadow hover:shadow-xl transition-shadow duration-300" data-aos="zoom-out-down" data-aos-duration="800" data-aos-easing="ease-in-out">
        <div class="h-60 overflow-hidden flex items-center justify-center">
          <img class="rounded-lg w-full h-full object-contain" src="/assets/projects/taxwizard.png" />
        </div>
        <p class="text-teal-600 font-semibold text-base mt-2">Express.js | EJS | MongoDB</p>
        <h1 class="font-bold text-teal-900 leading-none text-xl py-1 capitalize truncate">TaxWizard</h1>
        <div class="max-w-full">
          <p class="text-base font-medium tracking-wide text-gray-600 mt-1">
            A website to simplify calculation of tax in Bangladesh, according to the Income Tax Act of 2023.
          </p>
        </div>
      </a>
  
      <a href="https://github.com/NafisaMaliyat-iut/Word-Level-ASL-Gesture-Recognition" class="md:p-8 p-6 bg-gradient-to-r from-yellow-100 via-red-100 to-pink-100  hover:from-pink-100 hover:to-yellow-100 border rounded-lg shadow hover:shadow-xl transition-shadow duration-300" data-aos="zoom-out-down" data-aos-duration="800" data-aos-easing="ease-in-out">
        <div class="h-60 overflow-hidden flex items-center justify-center">
          <img class="rounded-lg w-full h-full object-contain" src="/assets/projects/word-level-asl.png" />
        </div>
        <p class="text-teal-600 font-semibold text-base mt-2">Python</p>
        <h1 class="font-bold text-teal-900 leading-none text-xl py-1 capitalize truncate">Word Level ASL Gesture Recognition</h1>
        <div class="max-w-full">
          <p class="text-base font-medium tracking-wide text-gray-600 mt-1">
            A Long Short-Term Memory (LSTM) model developed for American Sign Language (ASL) recognition, utilizing LSTM layers and a cosine similarity loss function.
          </p>
        </div>
      </a>
  
  </div>
  </div>
  
</body>

</html>
